<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styleCat.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FizzyFizzy</title>
</head>
<body>
  <!--Navbar Code-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./images/output-onlinepngtools.png"> FizzyFizzy
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <button onclick="document.getElementById('id01').style.display='block'">Update Account</button>
                <div id="id01" class="modal">
                    <form class="modal-content animate" action="/users:username" method="put">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                title="Close Modal">&times;</span>
                            <img src="./images/cropped-LOGO_360x.jpg" alt="Avatar" class="avatar" id="fizzyLogo">
                        </div>
                        <div class="container">
                          <label for="name"><b>Name</b></label>
                            <input type="text" placeholder="Enter Name" name="name" required minlength="2">
                            <button onclick="">Update</button>
                            <label for="username"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="username" required minlength="2">
                            <button onclick="">Update</button>
                        </div>
                    </form>
                </div>
          </li>
          <li class="nav-item">
            <button onclick="document.getElementById('id02').style.display='block'">Delete Account</button>
                <div id="id02" class="modal">
                    <form class="modal-content animate" action="/users:username" method="delete">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id02').style.display='none'" class="close"
                                title="Close Modal">&times;</span>
                            <img src="./images/cropped-LOGO_360x.jpg" alt="Avatar" class="avatar" id="fizzyLogo">
                        </div>
                        <div class="container">
                            <button onclick="">Delete</button>
                        </div>
                    </form>
                </div>
          </li>
          <li class="nav-item">
            <button onclick="location.href='./contactus.html'">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!--Container Code - Get from Template Engine-->
    <a href='/home'>Click here to return to the login page</a>
    <div class="container" id=firstContainer>
        <div class="row">
          <div class="col" id=testBorders>
            <h3>Gingerbread with Bow</h3>
            <img src="./images/paint-own.jpeg" id=catImg>
            <h5>Paint Your Own Bath Bomb sets comes with everything you need! Get creative and make your own bath bomb in your image!</h5>
            <h5 id="ingList">Ingredients: Baking soda, Citric Acid, Coconut Oil, Cocoa Butter, Epsom Salt, Polysorbate 80, Corn Starch, Isopropyl Alcohol, Fragrance, Red 40, Blue 1, Yellow 5, Mica</h5>
            <h5>$12.95</h5>
          </div>
          <div class="col" id=testBorders>
            <h3>Peppermint Hot Cocoa</h3>
            <img src="./images/peppermint.jpeg" id=catImg>
            <h5>Pop off the icing and hold under running water for a bath full of delicious moisturizing bubbles. Place bath bomb in the water in the same bath or separate</h5>
            <h5 id="ingList">Ingredients: Baking soda, Citric Acid, Coconut Oil, Cocoa Butter, Epsom Salt, Sodium Lauryl Sulfacetate, Polysorbate 80, Cocamidopropyl Betaine, Cream of Tarter, Corn Starch, Isopropyl Alcohol, Fragrance, Red 40, Blue 1, Yellow 5, Mica, Biodegradable Glitter, Sodium Cocoyl Isethionate Noodles, Soap</h5>
            <h5>$12.95</h5>
          </div>
          <div class="col" id=testBorders>
            <h3>Snow Globe Bath Bomb</h3>
            <img src="./images/snow-globe.jpeg" id=catImg>
            <h5>Listing is for 1 Snow Globe bath bomb. Hidden color inside. Bottom is a bath bomb, top is a bouncy ball</h5>
            <h5 id="ingList">Ingredients: Baking soda, Citric Acid, Coconut Oil, Cocoa Butter, Epsom Salt, Sodium Lauryl Sulfacetate, Polysorbate 80, Cocamidopropyl Betaine, Cream of Tarter, Corn Starch, Isopropyl Alcohol, Fragrance, Red 40, Blue 1, Yellow 5, Mica, Biodegradable Glitter, Sodium Cocoyl Isethionate Noodles, Soap</h5>
            <h5>$12.95</h5>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col" id=testBorders>
            <h3>Gingerbread Cupcake</h3>
            <img src= "./images/gingerbread.jpeg" id=catImg>
            <h5>3 in 1 bath bomb scented in Gingerbread. Top "icing" is bubble bath and the gingerbread is soap. Pop off icing for a bath full of delicious moisturizing bubbles.</h5>
            <h5 id="ingList">Ingredients: Baking soda, Citric Acid, Coconut Oil, Cocoa Butter, Epsom Salt, Sodium Lauryl Sulfacetate, Polysorbate 80, Cocamidopropyl Betaine, Cream of Tarter, Corn Starch, Isopropyl Alcohol, Fragrance, Red 40, Blue 1, Yellow 5, Mica, Biodegradable Glitter, Sodium Cocoyl Isethionate Noodles, Soap</h5>
            <h5>$12.95</h5>
          </div>
          <div class="col" id=testBorders>
            <h3>Eggnog Body Frosting Scrub</h3>
            <img src= './images/eggnog.jpeg' id=catImg>
            <h5>This 3 in 1 Sugar scrub leaves your skin feeling soft and silky. Simply place a small amount of scrub in your hands and massage into the area you would like exfoliated. Add water for a rich creamy lather. Exfoliate, cleanse, moisturize</h5>
            <h5 id="ingList">Ingredients: Sugar, Sodium Cocoyl Isethionate Powder, Glycerin, Cocamidopropyl Betaine, Optiphen plus, Steric Acid, Tetrasodium EDTA, Mica</h5>
            <h5>$12.95</h5>
          </div>
          <div class="col" id=testBorders>
            <h3>Hot Cocoa Body Frosting</h3>
            <img src= './images/hot-cocoa.jpeg' id=catImg>
            <h5>This 3 in 1 Sugar scrub leaves your skin feeling soft and silky. Simply place a small amount of scrub in your hands and massage into the area you would like exfoliated.</h5>
            <h5 id="ingList">Ingredients: Sugar, Sodium Cocoyl Isethionate Powder, Glycerin, Cocamidopropyl Betaine, Optiphen plus, Steric Acid, Tetrasodium EDTA, Mica</h5>
            <h5>$12.95</h5>
          </div>
        </div>
      </div>
</body>
<script>
var modal = document.getElementById('id01');
var modal2 = document.getElementById('id02');
</script>
</html>
