<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contactus.css">
    <title>FizzyFizzy</title>
</head>
<body>
    <div class="about-section">
        <h1>Contact Us</h1>
        <p>FizzyFizzy BathBombs</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="container" style="text-align:center">
              <h2>Vivek Thakore</h2>
              <p class="title">Aspiring Software Engineer</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>vivek.thakore08@gmail.com</p>
              <a href = "https://github.com/vivekthak88">https://github.com/vivekthak88</a>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="container" style="text-align:center">
              <h2>Julia Szymanski</h2>
              <p class="title">Aspiring Software Engineer</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>julszymanski@gmail.com</p>
              <a href = "https://github.com/julszymanski">https://github.com/julszymanski</a>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="container" style="text-align:center">
              <h2>Justin G.</h2>
              <p class="title">Aspiring Software Engineer</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>jgeho@hotmail.com</p>
              <a href = "https://github.com/JGeho">https://github.com/JGeho</a>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="container" style="text-align:center">
            <h2>Eric Fricke</h2>
            <p class="title">Aspiring Software Engineer</p>
            <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
            <!-- <p>Eric's email</p> -->
            <a href = "https://github.com/e-fricke">https://github.com/e-fricke</a>
            <!-- <p><button class="button">Contact</button></p> -->
          </div>
        </div>
      </div>
    </div>
</body>
</html>
