/* Code to See Div Borders - Testing & Alignment*/
#testBorders {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(247, 236, 244);
}
/*Div Size Adjustment*/
.col {
    width: 250px;
    text-align: center;
    vertical-align: middle;
    color: #831292
}
/*Padding Between Rows*/
#firstContainer {
    padding-top: 20px;
    padding-bottom: 20px;
}
body {
    background-image: url('./images/3643882.jpg');
    font-family: Arial, Helvetica, sans-serif;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
/*Contact Menu Background*/
.dropdown-menu {
    background-color: rgb(247, 236, 244);
    border-style: solid 2px;
    border-color: #831292;
}
#catImg {
    width: 220px;
    border-style: outset;
    border-color: #831292;
    border-radius: 25px;
}
#ingList {
    font-size: 10pt;
    color: black;
}
h3 {
    font-style: oblique;
}
/* Set a style for all buttons */
button {
    background-color: rgb(255, 214, 255);
    border-color: #831292;
    border-radius: 25px;
    color: #831292;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
  }
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  /* Padding for form fields inside modal*/
  #id01 {
    padding: 16px;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(250, 239, 252);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  } 
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }